.row{
    display:flex;
    flex-wrap:wrap;
    margin:25px;
    padding:0 4px;
    justify-content: center;
}

.column{
    flex:25%;
    padding:0 25px;
}

.column img{
    margin-top:50px;
    vertical-align: middle;
    width: 100%;
}
        
@media screen and (max-width:1000px){
    .column{
        flex:60%;  
        max-width: 60%;
    }
}

h1{
    display:block;
    margin-top:100px;
    text-align: center;
}