html {
    background-color:#FFF;
}

body {
    font-family: optima;
    margin: 0px;
}

#navbar{
    top:0;
    position:fixed;
    width:100%;
    display:block;
    background-color: black;
    transition:top 0.5s;
    z-index:9999;
}

#navbar a{
    float:right; 
    display:block;
    text-align: center;
    
    text-decoration:none;
    padding:15px;
    
    font-size: 17px;
    color: white;
    
}

#navbar a:hover{
    text-decoration: line-through;
}



